.header {
  height: 150px;
  width: 100%;
  background-color: #e9eef6;
}

.task-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 600px) {
  .task-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .task-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
